.videos-grid{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0;
}

.video-card h3{
    font-size: 3rem;
    margin: 0;
}
.video-card p{
    margin: 0;
}

.video-card video{
    margin-top: 2em;
    width: 80%;
    height: auto;
    border-radius: 10px;
    background: #000;
}
    